<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<master auto="start"/>

	<node pkg="audio_features_classification" type="train.py" respawn="false" name="audio_features_classification_train" output="screen">
		<rosparam file="$(find audio_features_classification)/config/parameters.yaml" command="load" />
	</node>
</launch>
